// 6432 - low shrubs with black berries
$p6423-c1-green: #678f10;
$p6423-c2-tabasco: #96310f;
$p6423-c3-straw: #d7bd8b;
$p6423-c4-tuna: #34363a;
$p6423-c5-cucumber: #92a558;
$p6423-c6-dingley: #657a3e;
$p6423-c7-sienna: #c87346;
$p6423-c8-millbrook: #5d5136;

// 0237 - mossy stones on the shoreline
$p0237-c1-green: #5b8613;
$p0237-c2-citron: #9cb61f;
$p0237-c3-camo: #314012;
$p0237-c4-laser: #c6b174;
$p0237-c5-lemon-grass: #949792;
$p0237-c6-taupe: #50443d;
$p0237-c7-chino: #d4c9b1;
$p0237-c8-driftwood: #aa8e44;

// 4677 - stern waves at sea
$p4677-c1-bandicoot: #7e7b6d;
$p4677-c2-verdigris: #595235;
$p4677-c3-tea: #bfbaad;
$p4677-c4-delta: #aeaea8;
$p4677-c5-white-rock: #ece8db;
$p4677-c6-taupe: #7c6861;
$p4677-c7-sand-dune: #e8e3ce;
$p4677-c8-linen: #e6e1d8;

// 4813 - bleak shoreline
$p4813-c1-napa: #b0ac9d;
$p4813-c2-eternity: #261a11;
$p4813-c3-shadow: #7f6f57;
$p4813-c4-delta: #bdb39f;
$p4813-c5-malta: #746830;
$p4813-c6-crete: #6b6b25;
$p4813-c7-coffee: #6c6255;
$p4813-c8-kangaroo: #cdcec1;

// 5022 - brilliant dunes on a sunny day
$p5022-c1-pacifika: #828220;
$p5022-c2-kumera: #7c611c;
$p5022-c3-fern: #677020;
$p5022-c4-sorrell-brown: #c8b47f;
$p5022-c5-horse: #634715;
$p5022-c6-tiara: #c1d0d2;
$p5022-c7-linen: #efece3;
$p5022-c8-polo-blue: #96bbd7;

// 5488 - stranded jellyfish
$p5488-c1-zorba: #a09785;
$p5488-c2-ash: #c6bfaf;
$p5488-c3-fern: #553e29;
$p5488-c4-quincy: #b7743e;
$p5488-c5-dingley: #758a45;
$p5488-c6-salt-box: #5d4f64;
$p5488-c7-mountbatten-pink: #8f7586;
$p5488-c8-viola: #ce98b1;

// 6089 - lush dunes with pink roses
$p6089-c1-leaf: #406b0e;
$p6089-c2-earls-green: #b2c331;
$p6089-c3-jambalaya: #543012;
$p6089-c4-gimblet: #bdb273;
$p6089-c5-hemlock: #656b40;
$p6089-c6-stiletto: #a8333e;
$p6089-c7-lavender: #fb98e5;
$p6089-c8-pink-lace: #ffc4ff;

// 6230 - shrub battlefronts
$p6230-c1-driftwood: #ae834e;
$p6230-c2-gimblet: #c4b57a;
$p6230-c3-key-lime: #afb921;
$p6230-c4-twine: #c19556;
$p6230-c5-alpine: #a2a52a;
$p6230-c6-olivine: #a5bd75;
$p6230-c7-kumera: #7a5d23;
$p6230-c8-olive: #6d7212;

// 6392 - bright shrubs in greenery
$p6392-c1-citron: #8ea023;
$p6392-c2-clover: #3e4a11;
$p6392-c3-irish-coffee: #5e4524;
$p6392-c4-albescent-white: #f6ead5;
$p6392-c5-pesto: #6f622a;
$p6392-c6-wild-willow: #c6bd77;
$p6392-c7-hillary: #b0aa81;
$p6392-c8-ironstone: #7f4a38;
